<html ng-app='ztorez'>
<head>
  <title>Ztorez</title>
  <script src="./bower_components/angular/angular.min.js"></script>
  <script src="./bower_components/angular-route/angular-route.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js"></script>
  <script src="./app/map/map.js"></script>
  <script src="./services/services.js"></script>
  <script src="./app/app.js"></script>
  <link rel='stylesheet' type='text/css' href="styles/styles.css"></link>
</head>
<body ng-controller='mainController'>
  
  <h1>Ztorez</h1>

  <div ng-view></div>

  <form ng-submit='filterResults()'>
    <input ng-model='brandFilter'/>
    <input type='submit' value='Search'/>
  </form>

  <div id='map'></div>

  <form ng-submit='addLocation()'>
    <input ng-model='location.name'/>
    <input ng-model='location.rawAddress'/>
    <input type='submit' value='Add location'>
  </form>

  <form ng-submit='addBrand()'>
    <input ng-model='brand.name'/>
    <input type='submit' value='Add brand'/>
  </form>

  <form ng-submit='addBrandToLocation()'>
    <input ng-model='locationId'/>
    <input ng-model='brandId'/>
    <input type='submit' value='Add brand to location'>
  </form>

</body>
</html>