<html ng-app='ztorez'>
<head>
  <title>Ztorez</title>
  <link rel='stylesheet' type='text/css' href="styles/styles.css"></link>
  <link rel='stylesheet' type='text/css' href="bower_components/bootstrap/dist/css/bootstrap.min.css"></link>
  <script src="./bower_components/jquery/dist/jquery.min.js"></script>
  <script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="./bower_components/angular/angular.min.js"></script>
  <script src="./bower_components/angular-route/angular-route.min.js"></script>
  <script src="./bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js"></script>
  <script src="./app/map/map.js"></script>
  <script src="./services/services.js"></script>
  <script src="./app/app.js"></script>
</head>
<body ng-controller='mainController'>
  
  <h1>Ztorez</h1>

  <div ng-view></div>

  <form ng-submit='filterResults()'>
    <input type='text' placeholder='Search for a brand' ng-model='selectedBrand' uib-typeahead='brand as brand.name for brand in brands | filter:{name:$viewValue} | limitTo:8' class='form-control'/>
    <input type='submit' value='Search'/>
  </form>

  <div id='map'></div>

  <form ng-submit='addLocation()'>
    <input ng-model='location.name'/>
    <input ng-model='location.rawAddress'/>
    <input type='submit' value='Add location'>
  </form>

  <form ng-submit='addBrand()'>
    <input ng-model='brand.name'/>
    <input type='submit' value='Add brand'/>
  </form>

  <form ng-submit='addBrandToLocation()'>
    <input ng-model='locationName'/>
    <input ng-model='brandName'/>
    <input type='submit' value='Add brand to location'>
  </form>

</body>
</html>
